
.wrapper {
    border: 2px solid transparent;
    height: 10px;
    border-radius: 6px;
  }
  
  .containerBar {
    background-color: white;
    height: 10px;
    border-radius: 6px;
  }
  
  
  
  .label {
    display: none;
    font-size: 10px;
    color: transparent;
    font-weight: 500;

  }