/* .types-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: -1px;
    padding-block: 20px;
    background-color: transparent;
    transition: 300ms;
    box-sizing: border-box;
    && button{
        display:grid;
        place-content: center;
        width: 30px;
        height: 40px;
    }
    && h1{
        font-size: 40px;
        transition: 300ms
    }
} */

.sticky{
    background-color:  transparent;
    /* position: sticky; */
    top: 0px;
    width: 100%;
    /* animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 200px; */
    /* padding: 20px; */
    /* padding-inline: 20px; */
    /* box-sizing: border-box; */
    /* padding-block: 20px; */
    
    && h1{
        /* transition: 300ms; */
        font-size: 30px;
    }

}

/* @keyframes adjust-header {
    to{
        background: rgba(0, 0, 0, .3);
        backdrop-filter: blur(20px);
        
    }
} */

#handle-type{
    width: 90vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    padding-block: 20px;
    box-sizing: border-box;
    && button{
        transition: 300ms;
        background-color: aquamarine;
        border-radius: 6px;
        padding-inline: 5px;
        font-size: large;
        color: rgba(0, 0, 0, 0.658);
        font-weight: 500;
        box-shadow: 0 0 10px -2px whitesmoke;
        /* border: solid whitesmoke 1px; */
        box-sizing: border-box;

    }
    && .active{
        /* background-color: rgba(0, 0, 0, 0.658); */
        transition: 300ms;
        color: aquamarine ;
    }
}
.input-form{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90vw;
    padding-inline: 5px;
    box-sizing: border-box;
    
    && div {
        height: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 10px;
        box-sizing: border-box;

        && select{
            width: 100%;
            height: 100%;
            background-color: rgb(73, 73, 73);
            padding: 0;
            margin: 0;
            border: 0;
            border-radius: 6px;
            box-sizing: border-box;

        }
        && input {
            border: none;
            /* border-bottom: 0px; */
            border-radius: 8px;
            background-color: #242424;
            height: 50px;
            font-size: 40px;
            width: 180px;
            text-align: center;
            box-sizing: border-box;
            color: aliceblue;

        }
        }
    && button{
        text-align: center;
        font-weight: 200;
        /* width: 100%; */
        color: aquamarine;
        background-color: transparent;
        /* border: aquamarine solid 1px; */
        padding: 0;
        padding-block: 5px;
        padding-inline: 10px;
        margin: 0;
        box-sizing: border-box;

    }
    #description{
        resize: none;
    }
    
}

.method__button {
    border: none;
}

#finance__bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.isMethod {
    border: none;
}

#selected-date{
    height: 20px;
    font-size: 20px;
    /* width: 100%; */
    border: none;
    border-bottom: 1px solid whitesmoke;
    background-color: #242424;
    height: 50px;
    /* font-size: 40px; */
    width: 180px;
    text-align: center;
    box-sizing: border-box;

}

.inputs--form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    /* background-color: antiquewhite; */
    
}