.week-calendar__container{
    width: 100vw;
    && h2 {
        width: 100%;
        text-align: center;
    }
    && ul{
        padding: 10px;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        background-color: #303030;
        border-radius: 6px;
        && li{
            /* background-color: white; */
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            /* color: #303030; */
            font-weight: 500;
        }
    }
}


.green{
    background-color: aquamarine;
    color: #303030;
    transition: 300ms;
}
.red{
    background-color: rgb(255, 0, 0);
    color: white;
    transition: 300ms;
}
.white{
    background-color: white;
}
.grey{
    background-color: grey;
    scale: 0.9;
}

.today{
    /* border: 2px solid white; */
    box-sizing: border-box;
    /* color: white; */
    display: flex;
    scale: 1.2;
        /* background-color: aliceblue; */
}
