.article{
    display: flex;
    flex-direction:column;
    background-color: #303030;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;

    && h2{
        color:aquamarine;
        margin-block: 5px;
        font-size: 18px;
        /* width: 100%; */
    }

    && section{
         && h3{
            font-size: smaller;
            margin-block: 5px;
            font-weight: 500;
         }
    }
}