.article{
    display: grid;
    background-color: #303030;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;

    && h2{
        color:aquamarine;
        margin-block: 5px;
    }

    && section{
         && h3{
            font-size: smaller;
            margin-block: 5px;
            font-weight: 500;
         }
    }
}