/* .tranformer--container{
    transition: 500ms;
    width: 100%;
}

.welcome{
    transition: opacity 500ms;
    text-align: left;
    display: flex;
    justify-content: start;
    
}

.bar-stats{
    display: flex;
    transition: 500ms;
    height: 70px;
    font-size: 16px;
}

.bar-stats-collapsed{
    display: flex
} */