#image-profile{
   & img{
        width: 250px;
        height: 250px;
        object-fit: contain;
        object-position: center top;
        border-radius: 5000px;
        border: 3px solid aquamarine;
    }
    
}