.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    & label{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        & input{
            width: 200px;
            height: 25px;
            border: 1px solid;
            border-radius: 6px;
        }
    }
}