
@supports (-webkit-touch-callout: none) {
    .navbar {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        height: calc(56px + env(safe-area-inset-top));
    }
  }
  .navbar {
    /* background-color: lightblue; */
    height: 60px;
  }